<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomStyle.css" />
    <link rel="stylesheet" href="~/MigrantProjectMVC.styles.css" asp-append-version="true" />

</head>
<body>

    @if (ViewData["ShowHeader"] != null && (bool)ViewData["ShowHeader"] == true)
    {
        <header class="mainHeader">
                <nav class="breadcrumbs">
                <h3>Migration Project</h3>
                <ul>
                    <li><a href="">Просмотр уведомлений</a></li>
                    <!-- проверка на пользователя-->
                    <li><a href="">Просмотр регламент услуги</a></li>
                </ul>
                <ul> 
                    <!-- Проввверка на вход в акк--> 
                    <!-- если в акке-->
                    <li><a href="">Выход</a></li>
                    <li><a href="">Редактировать профиль</a></li>
                    <!-- если не в акке-->
                    <!--
                    <li><a href="">Войти</a></li>
                    <li><a href="">Создать аккаунт</a></li>
                    -->
                </ul>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
