@{
    ViewData["ShowHeader"] = false;
    ViewData["Title"] = "Добавление данных о мигранте";
}

<style>
    
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
    
</style>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 class="mt-4">Добавить данные о мигранте</h1>
            <form id="profileForm" class="mt-4" method="post" action="RegisterMigrant">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
                <div class="form-group">
                    <label for="patronymic">Отчество</label>
                    <input type="text" class="form-control" id="patronymic" name="patronymic" required>
                </div>
                <div class="form-group">
                    <label for="enteringDate">Дата въезда в страну</label>
                    <input type="date" class="form-control" id="enteringDate" name="enteringDate" required>
                </div>
                <div class="form-group">
                    <label for="countryName">Страна</label>
                    <input type="text" class="form-control" id="countryName" name="countryName" required>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить данные</button>
            </form>
        </main>
    </div>
</div>