@{
    ViewData["ShowHeader"] = false;
    ViewData["Title"] = "Добавление данных о мигранте";
}

<style>
    
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
    }
    
    .form-group {
        margin-bottom: 1.5rem;
    }
    
</style>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 class="mt-4">Обновить данные о мигранте</h1>
            <form id="profileForm" class="mt-4" method="post" action="RegisterMigrant">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="surname" required>
                </div>
                <div class="form-group">
                    <label for="patronymic">Отчество</label>
                    <input type="text" class="form-control" id="patronymic" name="patronymic" required>
                </div>
                <div class="form-group">
                    <label for="enteringDate">Дата въезда в страну</label>
                    <input type="date" class="form-control" id="enteringDate" name="enteringDate" required>
                </div>
                <div class="form-group d-flex flex-column">
                     <label>Выберите вашу страну гражданства</label> 
                     <select name="country" onchange="changeCountryValue()" class="form-select" id="countrySelect"> 
                         @foreach (var item in ViewBag.Countries)
                         { 
                             <option>@item</option> 
                         } 
                     </select>
                    <input type="text" class="form-control" style="visibility: hidden" id="countryName" name="countryName" required>
                </div> 
                <div>
                    <label>Выберите имеющиеся у вас документы</label>
                    <select onchange="addToForm()" id="documentSelect" class="form-select " aria-label="Выберите документ">
                        <option selected id="selectLabel">Выберите из списка документы</option>
                        <option value="highlyqualified">Высоквалифицированный специалист</option>
                        <option value="resettlementprogrammember">Член программы переселения</option>
                        <option value="consistofmigrationprogram">Состоял на миграционном учёте раннее</option>
                    </select>
                    <div id="documentBox">
                        <p>Имеющиеся документы: </p>
                    </div>
                </div>
                <div id="documentBox">
                    <input type="hidden" id="documentNames" name="documentNames" value="">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </main>
    </div>
</div>
<script>
    var documentBox = document.getElementById("documentBox")
    var selectedDocuments = []; // Массив для хранения выбранных документов

    function addToForm() {
        var documentSelect = document.getElementById("documentSelect");
        var selectedOption = documentSelect.options[documentSelect.selectedIndex];

        if(document.getElementById("selectLabel") != null) {
            document.getElementById("selectLabel").remove();
        }

        var documentValue = selectedOption.value;
        var documentText = selectedOption.text;

        if(selectedDocuments.includes(documentValue)) return;

        selectedDocuments.push(documentValue);

        // Добавляю к строке новый документ, разделитель ','
        document.getElementById("documentNames").value = selectedDocuments.join(',');

        var newDocumentLine = document.createElement('div');
        newDocumentLine.className = "d-flex flex-row";
        newDocumentLine.id = documentValue;
        newDocumentLine.innerHTML = `
            <span class = "d-flex align-items-center justify-content-between form-control">${documentText}
            <button class="btn btn-light" onclick="removeItemFromBox('${documentValue}')">X</button></span>
        `;
        documentBox.appendChild(newDocumentLine);
    }

    function removeItemFromBox(documentEnglishName){
        var element = document.getElementById(documentEnglishName)
        element.remove();
        var documentNames = document.getElementById("documentNames").value;
        document.getElementById("documentNames").value = documentNames.replace(documentEnglishName, "");
    }
    
    function changeCountryValue(){
        var countryInput = document.getElementById('countryName')
        var countrySelect = document.getElementById('countrySelect')
        var countryName = countrySelect.value
        countryInput.value = countryName
        
    }
</script>
