@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post" action="DeleteUser">
    <p>Name</p>
    <input name="Id" type="number" />
    <button type="submit">DeleteUser</button>
</form>
@{
}
