@{
    int number = 10;
}
@Layout _Layout

<form method="post" action="User/AddUser">
    <p>Name</p>
    <input name="name" type="text" />
    <p>Surname</p>
    <input name="surname" type="text" />
    <p>Patronymic</p>
    <input name="patronymic" type="text" />
    <p>Email</p>
    <input name="email" type="text" />
    <p>Password</p>
    <input name="password" type="text" />
    <button type="submit">AddUser</button>
</form>



<p>My number = @number</p>
