@{
    ViewData["ShowHeader"] = false;
    ViewData["Title"] = "Register";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Регистрация</h2>
        <form action="Register" method="post" id="registrationForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label  class="control-label">Имя</label>
                <input  class="form-control" name="name"/>
                <span  class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label  class="control-label">Фамилия</label>
                <input class="form-control" name="surname"/>
                <span  class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label  class="control-label">Отчество</label>
                <input  class="form-control" name="patronymic"/>
                <span  class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label  class="control-label">Почта</label>
                <input class="form-control" name="email"/>
                <span  class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label class="control-label">Телефон</label>
                <input class="form-control" name="phone" />
                <span class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label class="control-label">Пароль</label>
                <input type="password" class="form-control" name="password" />
                <span class="text-danger" id="passwordError"></span>
            </div>
            <div class="mb-1">
                <label class="control-label">повторный пароль</label>
                <input type="password" class="form-control" />
                <span class="text-danger" id="confirmPasswordError"></span>
            </div>
            <div class="mb-1">
                <input type="checkbox" id="isMigrant" name="isMigrant" value="true" />
                <label class="control-label" for="isMigrant">Являюсь мигрантом</label>
                <span class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-decoration-none float-start mt-2">Есть аккаунт?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Регистрация" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById("registrationForm").addEventListener("submit", function(event) {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirmPassword").value;

            document.getElementById("passwordError").textContent = "";
            document.getElementById("confirmPasswordError").textContent = "";

            if (password !== confirmPassword) {
                event.preventDefault(); // предотвращаем отправку формы
                document.getElementById("confirmPasswordError").textContent = "Пароли не совпадают.";
            }
        });
    </script>
</div>