@{
    ViewData["Title"] = "Управление данными";
    ViewData["ShowHeader"] = true;
}

@model List<RegulationModel>

<div class="container">
    <h1>Управление сроками подачи заявления</h1>

    <div class="card">
        <div class="card-header">
            Изменение срока регламента подачи заявления
        </div>
        <div class="card-body">
            <form method="post" action="UpdateRegulation">
                <div class="form-group">
                    <label for="reglamentSelect">Выберите регламент</label>
                    <select class="form-control" id="reglamentSelect" name="Rules">
                        @foreach(var regulationModel in Model)
                        {
                            <option value="@regulationModel.Rules" data-country="@regulationModel.Country">@($"Правило: {regulationModel.Rules} {regulationModel.Country} Срок: {regulationModel.Term}")</option>
                            
                        }
                        <input type="hidden" name="Country" id="selectedCountry" />
                    </select>
                    
                </div>
                <div class="form-group">
                    <label for="newDeadline">Введите новый срок подачи заявления (в днях)</label>
                    <input type="number" class="form-control" id="newDeadline" placeholder="Введите срок (дней)" name="Term"/>
                </div>

                <div class="form-group" style="margin-top: 25px;">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        <strong>Важно!</strong> Пожалуйста, убедитесь, что новый срок подачи заявления соответствует законодательству и внутренним инструкциям.
    </div>
    <script>
        document.getElementById('reglamentSelect').addEventListener('change', function () {
            var selectedOption = this.options[this.selectedIndex];
            document.getElementById('selectedCountry').value = selectedOption.getAttribute('data-country');
        });
    </script>
</div>