@{
    ViewData["ShowHeader"] = true;
    ViewData["Title"] = "Регламент";
}

<h2>Регламент услуг</h2>

<p>Спасибо, @ViewBag.Name! Ваш запрос получен.</p>
<p><strong>Email:</strong>@ViewBag.Email</p>
<p><strong>Что получить:</strong> Документ, подтверждающий постановку на миграционный учет по месту пребывания.</p>
<p><strong>Описание услуги:</strong> Что сделать: Вам необходимо обратиться к лицу, у которого проживаете, для того чтобы
    собственник помощения направил уведовление в УМВД через портал Migration Project или через портал государсттвенных услуг о постановке на
    миграционный учет инностранного гражданина по месту пребывания.
</p>
<br/>
<p><strong>Крайняя дата получения:</strong>@($"{ViewBag.Date} ( {ViewBag.CountDay} дней )")</p>

