@{
    ViewData["Title"] = "Уведомления";
    ViewData["ShowHeader"] = true;
}

@model List<NotificationModel>

<div class="container mt-4">
    <h2>Список Уведомлений</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Сообщение</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                @foreach(var notificationModel in Model)
                {
                    <td><a href="GetNotification?id=@notificationModel.StatementId" style="text-decoration: none; color: inherit;">@($"заявление на имя мигранта {notificationModel.Name}")</a></td>
                    <td><a href="GetNotification?id=@notificationModel.StatementId" style="text-decoration: none; color: inherit;">@($"{notificationModel.Status.ToString()}")</a></td>
                }
            </tr>
        </tbody>
    </table>
</div>