@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Target Viewer</title>
</head>
<body>
    <h1>Выберите Target</h1>
    <form id="profileForm" class="mt-4" method="post" asp-controller="Target" asp-action="ChangeRegulation">
        <select id="ChangeRegulationTargetSelect">
            <option value="">-- Выберите цель --</option>
        </select>
        <input name="targetName" id="targetNameInput" style="visibility: hidden" />
        <select id="regulationSelect" style="visibility: hidden">
            <option value="">-- Выберите условия --</option>
        </select>
        <input name="regulationName" id="ChangeRegulationTargetInput" style="visibility: hidden" value="sdawd" />
        
        <select id="countrySelect" onchange="addToCountryForm()" style="visibility: hidden">
            <option value="">-- Выберите страны --</option>
            @{
                foreach (var item in ViewBag.Countries)
                    {
                    <option value="@item">@item</option>
                    }
            }
        </select>
        <div id="countryBox" style="visibility: hidden">
            <p>Имеющиеся документы: </p>
        </div>
        <div id="countryBox">
            <input type="hidden" id="countryNames" name="countriesName" value="">
        </div>


        <select onchange="addToForm()" id="documentSelect" style="visibility: hidden">
            <option value="">-- Выберите документы --</option>
            <option value="HighlyQualifiedDocument">Высоквалифицированный специалист</option>
            <option value="ResettlementDocument">Член программы переселения</option>
            <option value="ConsistOfMigrationProgramDocument">Состоял на миграционном учёте раннее</option>
        </select>
        <div id="documentBox" style="visibility: hidden">
            <p>Имеющиеся документы: </p>
        </div>
        <div id="documentBox">
            <input type="hidden" id="documentNames" name="useDocuments" value="">
        </div>

        <input id="termInput" name="term" style="visibility: hidden" />


        <button type="submit">Сохранить</button>
        <a type="button" href="../Hone/Index">Отмена</a>
    </form>


    <script>
           document.addEventListener("DOMContentLoaded", function () {
               loadTargetsChangeRegulation()
        });
    </script>
</body>
</html>