@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Target Viewer</title>
</head>
<body>
    <h1>Выберите Target</h1>
    <form id="profileForm" class="mt-4" method="post" asp-controller="Target" asp-action="ChangeCondition">
        <select id="targetSelect">
            <option value="">-- Выберите цель --</option>
        </select>
        <input name="targetName" id="targetNameInput" style="visibility: hidden"/>
        <div id="instructionBlock" style="margin-top: 20px; display: none;">
            <label for="instructionInput">Инструкция:</label>
            <textarea name="newInsctuction" id="instructionTextArea" style="width: 500px; height: 300px"></textarea>
        </div>
        <button type="submit">Сохранить</button>
        <a type="button" href="../Hone/Index">Отмена</a>
    </form>
   

    <script>
           document.addEventListener("DOMContentLoaded", function () {
               loadTargetsInstructionPage()
        });
    </script>
</body>
</html>