@{
    ViewData["Title"] = "Уведомления";
    ViewData["ShowHeader"] = true;
}

<h2>Подробности уведомления</h2>

<div class="notification-detail">
    <strong>Сообщение:</strong> Message<br />
    <strong>Дата создания:</strong> DateCreated<br />
    <strong>Подробности:</strong><br />
    <p>Подробности уведомления етететет ететтет ететет</p>
</div>

<a href="">Вернуться к уведомлениям</a>