@{
    ViewData["ShowHeader"] = true;
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <h1 class="text-center">Добро пожаловать в проект "Migration Project"!</h1>
    <p class="lead text-center">
        Этот сайт предназначен для помощи людям, которые хотят подать заявление на миграционную постановку. Мы предоставляем актуальную информацию о процедурах миграции, требованиях и пошлинах.
    </p>
    <hr />
    <h2 class="mt-4">Что такое миграционная постановка?</h2>
    <p class="text-justify">
        Миграционная постановка — это процесс оформления документов для легального пребывания иностранного гражданина на территории другой страны. Этот процесс может включать в себя множество этапов, начиная от подачи заявления и заканчивая получением статуса проживания. Мы предлагаем пошаговые инструкции и полезные советы, чтобы помочь вам успешно пройти этот процесс.
    </p>

    <h2 class="mt-4">Как мы можем помочь?</h2>
    <p class="text-justify">
        На нашем сайте вы найдете информацию о:
    </p>
    <ul>
        <li>Требованиях для подачи заявления</li>
        <li>Документах, необходимых для миграционной постановки</li>
        <li>Пошлых и сборах, связанных с процессом</li>
        <li>Часто задаваемых вопросах и ответах</li>
        <li>Контактной информации для получения дополнительной помощи</li>
    </ul>
</div>