@{
    ViewData["ShowHeader"] = false;
    ViewData["Title"] = "Login";
}

<main>
    <article class="row d-flex align-items-center justify-content-center">
        <section class="col-md-3 card p-3">
            <h2 class="text-center text-info">Вход в систему</h2>
            <form method="post" action="">
                <div class="mb-1">
                    <label class="control-label">Почта</label>
                    <input class="form-control" />
                    <span class="text-danger" />
                </div>
                <div class="mb-1">
                    <label class="control-label">Пароль</label>
                    <input class="form-control" />
                    <span class="text-danger" />
                </div>
                <div class="row">
                    <div class="col-8">
                        <a asp-action="Register" class="text-decoration-none float-start mt-2">Создать новый аккаунт.</a>
                    </div>
                    <div class="col-4 justify-content-center">
                        <button type="submit" class="btn btn-primary btn-sm float-end">Войти</button>
                    </div>
                </div>

            </form>
        </section>
    </article>
</main>
