@{
    ViewData["Title"] = "Уведомления";
    ViewData["ShowHeader"] = true;
}

<div class="container mt-4">
    <h2>Список Уведомлений</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Сообщение</th>
                <th>Дата создания</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td><a href="" style="text-decoration: none; color: inherit;">message</a></td>
                <td><a href="" style="text-decoration: none; color: inherit;">2023.12.23</a></td>
                <td><a href="" style="text-decoration: none; color: inherit;">"Не прочитано"</a></td>
            </tr>
        </tbody>
    </table>
</div>