@{
    ViewData["ShowHeader"] = true;
    ViewData["Title"] = "Регламент";
}

<h2>Регламент услуг</h2>

<p>Спасибо, Stepan! Ваш запрос получен.</p>
<p><strong>Email:</strong> test@mail.com</p>
<p><strong>Описание услуги:</strong> Описание регламента услуги трат атртартатр татратртартатр тарар</p>
