@{
    ViewData["Title"] = "Заявление";
    ViewData["ShowHeader"] = true;
}

<div class="container mt-5">
    <h2>Подача заявления</h2>
    <form action="" method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="surname" class="control-label col-sm-2">Фамилия мигранта</label>
            <div class="col-sm-10">
                <input type="text" name="surname" id="surname" class="form-control" placeholder="Введите фамилию мигранта" required />
                <span class="text-danger" id="surnameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="control-label col-sm-2">Имя мигранта</label>
            <div class="col-sm-10">
                <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя мигранта" required />
                <span class="text-danger" id="nameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="patronymic" class="control-label col-sm-2">Отчество мигранта</label>
            <div class="col-sm-10">
                <input type="text" name="patronymic" id="patronymic" class="form-control" placeholder="Введите отчество мигранта" required />
                <span class="text-danger" id="patronymicError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="OwnerPassport" class="control-label col-sm-2">Паспорт собственника</label>
            <div class="col-sm-10">
                <input type="text" name="OwnerPassport" id="OwnerPassport" class="form-control" placeholder="Введите паспорт собственника" required />
                <span class="text-danger" id="OwnerPassportError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="RegistrationAddress" class="control-label col-sm-2">Адрес регистрации</label>
            <div class="col-sm-10">
                <input type="text" name="RegistrationAddress" id="RegistrationAddress" class="form-control" placeholder="Введите адрес для регистрации" required />
                <span class="text-danger" id="RegistrationAddressError"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="PreviousAddress" class="control-label col-sm-2">Предыдущий адрес</label>
            <div class="col-sm-10">
                <input type="text" name="PreviousAddress" id="PreviousAddress" class="form-control" placeholder="Введите предыдущий адрес" />
                <span class="text-danger" id="PreviousAddressError"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="text-align: right; margin-top: 20px">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
</div>