@using MigrantProjectMVC.ViewModel
@{
    ViewData["ShowHeader"] = true;
    ViewData["Title"] = "Получение направления";
    ViewData["Refferal"] = (Model as RefferalViewModel).RefferalText;
    ViewData["ErrorMessage"] = (Model as RefferalViewModel).ErrorMessage;
}

<div class="container mt-5">
    <h1 class="text-center">Направление</h1>
    <p class="lead text-center">@ViewData["Refferal"]</p>
    <hr />
    <h2 class="mt-4">Ошибка</h2>
    <p class="text-justify">@ViewData["ErrorMessage"]</p>
</div>